$color-blue: (
  blue-90: #11181d,
  blue-80: #1f303e,
  blue-70: #274863,
  blue-60: #2c608a,
  blue-50: #2378c3,
  blue-40: #4f97d1,
  blue-30: #73b3e7,
  blue-20: #aacdec,
  blue-10: #dbe8fb,
  blue-5: #eff6fb,
);
